<%!

	import sys,os 
	sys.path.append(os.path.abspath(os.path.join( os.path.dirname(os.path.abspath("./")), "../../lib" )) )
	import powlib
	import pow_html_helper as helper
%>

<%def name="generate_actions()">
    actlist = ["list", "edit", "create", "show"]
</%def>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Python On Wheels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pow welcome page for local projects">
    <meta name="author" content="khz">

    <!-- Le styles -->
    <!-- <link href="/static/css/bs/bootstrap.css" rel="stylesheet"> -->
    <link href="/static/css/bs/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/css/bs/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/bs/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/bs/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/bs/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/bs/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/bs/apple-touch-icon-57-precomposed.png">
      
    ${helper.enable_ajax()}
    
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">${powdict["POW_APP_NAME"]}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/app/welcome">Home</a></li>
              <!-- <li><a href="/post/list">Posts</a></li> -->
              <li><a href="/post/blog">Posts</a></li>
              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
       <div class="hero-unit">
         <h1>the pow blog</h1>
         <p><a href="http://google.com" class="btn btn-warning btn-large pull-right" >See me on Facebook</a></p>
       </div>
   
        ${next.body()}
   
      <hr>

      <footer>
        <p>&copy; Softwarekombinat 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bs/jquery.js"></script>
    <script src="/static/js/bs/bootstrap-transition.js"></script>
    <script src="/static/js/bs/bootstrap-alert.js"></script>
    <script src="/static/js/bs/bootstrap-modal.js"></script>
    <script src="/static/js/bs/bootstrap-dropdown.js"></script>
    <script src="/static/js/bs/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bs/bootstrap-tab.js"></script>
    <script src="/static/js/bs/bootstrap-tooltip.js"></script>
    <script src="/static/js/bs/bootstrap-popover.js"></script>
    <script src="/static/js/bs/bootstrap-button.js"></script>
    <script src="/static/js/bs/bootstrap-collapse.js"></script>
    <script src="/static/js/bs/bootstrap-carousel.js"></script>
    <script src="/static/js/bs/bootstrap-typeahead.js"></script>

  </body>
</html>
