{% extends "base.bs4" %}

{% block css %}
  <!-- Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
{% end %}

{% block content %}
    <!-- Begin page content -->
    <div class="container">
      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      

      <!-- Jumbotron -->
      <div class="row navpow">
        <div class="col-md-2">
          &nbsp;
        </div>
        <div class="col-md-4 text-left">
          <a href="https://www.pythononwheels.org">PythonOnWheels</a>
        </div>
        <div class="col-md-4 text-right">
          <a href="http://www.pythononwheels.org/dash">getting started (Dash)</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          &nbsp;
        </div>
        <div class="col-md-8">
          &nbsp;
        </div>
        
        <div class="col-md-2">
          &nbsp;
        </div>
      </div>
      <div class="" style="background: white; margin-top: 0px; margin-bottom: 10px; text-align: center;">
        <img src={{ static_url("images/dash_on_wheels_yellow.png") }}  width=300px; style="display: inline-block;" />
           
      </div>
      <!-- START THE FEATURETTES -->

      <!--hr class="featurette-divider" -->
      <div class="row featurette">
        <div class="col-md-2">
          &nbsp;
        </div>
        <div class="col-md-8 ">
          <span style="justify-content:center;" class="text-center">
            <h5><a href="https://www.pythononwheels.org">PythonOnWheels</a> now directly supports embedding 
              <a href="https://plot.ly/products/dash/">plotly Dash</a>.</h3>
            <p>So you can easily use  Database access, creating an API and bootstrap 4 view templates. 
            Literally a matter of minutes from zero to your first webapp. Read 
            the <a href="https://www.pythononwheels.org/dash">short Dash-on-wheels hands-on tutorial</a>.</p>
          
          </span>

          <div style="margin-bottom: 40px">
            {% raw dash_block %}
          </div>  

          <h3> Updates: </h3>
          <ul>
              <li>
                  <h4>Dash 1.6.0 works now with pythononwheels! (Nove 2019)</h4>
                    <ul>
                        <li>dash==1.6.0</li>
                        <li>dash-core-components==1.5.0</li>
                        <li>dash-daq==0.2.1</li>
                        <li>dash-html-components==1.0.1</li>
                        <li>dash-renderer==1.2.0</li>
                        <li>dash-table==4.5.0</li>
                    </ul>
                  </p>
    
                </li>
    
            <li>
              <h4>Dash 1.2.0 works now with pythononwheels! (Sept 2019)</h4>
                <ul>
                  <li>dash==1.2.0 </li>
                  <li>dash-core-components==1.1.2</li>
                  <li>dash-html-components==1.0.1</li>
                  <li>dash-renderer==1.0.1</li>
                  <li>dash-table==4.2.0</li>
                </ul>
              </p>

            </li>

            <li><h4>Dash 1.0.2 works now with pythononwheels! (July 2019)</h4></li>
          </ul>
          <p>
            See the <a href="https://community.plot.ly/t/show-and-tell-dash-on-wheels/18591/9">
              plotly Dash forum for more info of PoW Dash Update</a>
          </p>
          <p>
            Really happy with this.
            Tornado is now updated to 6.0.3 
          </p>
        </div>  
        <div class="col-md-2">
        &nbsp;
      </div>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cerulean/bootstrap.min.css">

      

    </div> <!-- /container -->
{% end %}