alembic
appdirs
backports-abc
Cerberus
certifi
chardet
Click
colorama
dicttoxml
dnspython
Flask
Flask-Compress
idna
itsdangerous
#Jinja2==2.10.1
jsonschema
junit2html
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
#numpy==1.16.4
packaging
#pandas==0.24.2
plotly
py
pymongo
PyMySQL
pyparsing
pytest
pytest-html
pytest-metadata
pytest-ordering
python-dateutil
python-editor
pytz
PyYAML
redis
requests
retrying
simplejson
six
SQLAlchemy
tinydb==3.2.1
tinydb-serialization==1.0.3
tornado
urllib3
Werkzeug
xmltodict
