
<!-- Begin page footer -->
    <footer class="footer">
      <!--div class="container" -->
        <p class="text-muted">PythonOnWheels 2017 by khz. Open source and free for any use. 
        Licence: <a href="http://choosealicense.com/licenses/mit/">MIT Licence</a>.
        </p>
      <!--/div -->
    </footer>
    <!-- End page footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ static_url("js/jquery.min.js") }}" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ static_url("js/tether.min.js") }}" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="{{ static_url("js/bootstrap.min.js")}}"></script>
    <script src="{{ static_url("js/prism.js")}}"></script>
    <script src="{{ static_url("js/holder.min.js")}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{static_url("js/ie10-viewport-bug-workaround.js")}}"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

