* { padding:0; margin:0; outline:0; }
body {
	background:#000;
	font-family: Arial, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#252525;
}
input, textarea, select { font-family: Georgia, sans-serif; font-size:12px; }

.notext { font-size:0; line-height:0; text-indent: -4000px; display:block; }

a img { border:0; }

a { color:#9d5f0e; text-decoration: underline; cursor:pointer; }
a:hover { text-decoration: none; }

.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; }

.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }

.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align: center; }
h1 {
	font: 2.6em normal Georgia, 'Times New Roman', Times, serif; 
	/* font-size: 2.6em; */
	float:left;
	padding: 20px 0;
	color: #666;
}
h1 span { color: #ff9900; }
h1 small{
	font: 0.32em normal Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	/*padding: 10px 0;*/
	letter-spacing: 1em;
	display: block;
	color: #aaa;
}
h2 { font-size:34px; line-height:34px; text-transform: uppercase; color:#fff; }
/* h2 span{ color:#f4d359; } */
h2 span{ color:#ff9900; }
h3 { font-size:22px; line-height:24px; }

h2, h3,
#navigation,
#slider-navigation,
#footer { font-family: "Trebuchet MS", Arial, sans-serif;}

h1#logo { font-size:0; line-height:0; width:216px; height:90px; float:left; }
/* h1#logo a{ display:block; height:90px; text-indent: -4000px; background:url(/static/media/images/pow_home/logo.gif); } */
h1#logo a{ display:block; height:90px; text-indent: -4000px; }
.shell { width:980px; margin:0 auto; }

body { min-width:1030px;}
.header { 
	font: 1.6em normal Georgia, 'Times New Roman', Times, serif;
	float: right;
	padding: 20px 0;
	color: #ff9900;
	}
.slide-image { 
		float:right; 
		width:219px; 
		/* height:140px; */
		}
#header { height:90px; background:url(/static/media/images/pow_home/header.gif); }

#navigation { float:right; }
#navigation ul{ float:left; list-style-type: none; padding-top:37px; font-size:14px;}
#navigation ul li{ float:left; display:inline; height:21px; background:url(/static/media/images/pow_home/nav-border.gif) repeat-y right 0; padding:0 20px 0 0; margin-right:20px; position:relative; }
#navigation ul li.last{background:transparent; padding-right:0; margin-right:0; }
#navigation ul li a{ float:left; color:#fff; text-decoration: none;}

#navigation ul li a em { width:90px; height:20px; background:url(/static/media/images/pow_home/nav-hover.gif) no-repeat 0 -200px; position:absolute; top:33px; left:-55px;}
#navigation ul li.last a em { left:-45px;}
#navigation ul li a span { font-size:0; line-height:0; width:0; height:0; position:absolute; left:50%;}

#navigation ul li a.hover{ color:#f6cb44;}

#navigation ul li a.hover em{ background-position:0 0}

#slider { height:298px; background:url(/static/media/images/pow_home/slider.gif); }

.slides { width:980px; height:298px; position:relative; overflow:hidden; color:#b6b6b6; }
/*.slides .jcarousel-clip { width:980px; height:298px; position:relative; overflow:hidden; } */
.slides ul { width:980px; height:298px; position:relative; overflow:hidden; list-style-type: none;}
.slides ul li{ float:left; display:inline; width:980px; height:260px; position:relative; overflow:hidden; padding-top:38px;}

.slide-info { float:left; width:720px; padding-top:20px;}
.slide-info h2{ padding-bottom:20px;}
.slide-info p{ padding-bottom:15px;}

.image1 { background:url(/static/media/images/pow_home/slide-image.png); }

#slider-navigation { height:67px; background:url(/static/media/images/pow_home/slider-nav.gif); }
#slider-navigation ul{ list-style-type: none; position:relative; width:1003px; margin-right:-23px; height:67px;}
#slider-navigation ul li{ float:left; display:inline; position:relative; margin:-35px 95px -22px 0;}
#slider-navigation ul li.last{ margin-right:0;}
#slider-navigation ul li a{ float:left; width:171px; height:79px; background:url(/static/media/images/pow_home/slide-button.png) no-repeat 0 0; position:relative; 
	left:-10px; color:#686767; font-size:14px; text-decoration: none; font-weight: bold; padding:45px 0 0 100px;}
	
#slider-navigation ul li a strong { display:block; font-size:23px; line-height:23px; color:#fff;}
#slider-navigation ul li a em{ position:absolute; top:43px; left:20px; }

#slider-navigation ul li a em.ico1 { width:58px; height:59px; background:url(/static/media/images/pow_home/ico1.png); left:28px;}
#slider-navigation ul li a em.ico2 { width:41px; height:61px; background:url(/static/media/images/pow_home/ico2.png); left:36px;}
#slider-navigation ul li a em.ico3 { width:71px; height:64px; background:url(/static/media/images/pow_home/ico3.png)}

#slider-navigation ul li a.active,
#slider-navigation ul li a:hover { background:url(/static/media/images/pow_home/slide-button-active.png); color:#a6a6a6; }

#slider-navigation ul li a.active strong,
#slider-navigation ul li a:hover strong{ color:#000; }


#main { width:100%; background:#d3d4ce; padding:50px 0;}
#main h3{ padding-bottom:10px; }
#main p{ padding-bottom:15px; }

a.more { font-size:10px; background:url(/static/media/images/pow_home/more.gif) no-repeat 0 center; padding-left:10px; }

.cols {}
.col { float:left; width:250px; margin-right:115px;}
.col-last { margin-right:0;}



#footer { height:92px; background:url(/static/media/images/pow_home/footer.gif); color:#6d6d6d; }
#footer .shell{ padding-top:28px;}
#footer .right { white-space:nowrap; font-size:14px; text-align: right;}
#footer .right span{ padding:0 1px;}
#footer .right a{ text-decoration: none; color:#939393;}
#footer .right a:hover{ color:#f6cb44;}
.footer-logo { float:left; width:169px; height:34px; background:url(/static/media/images/pow_home/footer-logo.gif); }

