{% import config as cfg %} 
{% import dash %}
{% import dash_core_components as dcc %}
{% import dash_html_components as html %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico"-->
    <link rel="shortcut icon" type="image/x-icon" href="{{ static_url("images/pow_favicon-16x16.png")}}">
    <title>PythonOnDash Demo App<title>

    <!-- Bootstrap core CSS -->
    <!--link href="../../dist/css/bootstrap.min.css" rel="stylesheet"-->
    <link href="{{ static_url("css/bootstrap.css") }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--link href="sticky-footer-navbar.css" rel="stylesheet"-->
    <!--link href="{{ static_url("css/sticky-footer-navbar.css") }}" rel="stylesheet"-->
    
    <link href="{{ static_url("css/justified-nav.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/prism.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/pow.css") }}" rel="stylesheet">
    
  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">
      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <!-- Jumbotron -->
      <div class="row navpow">
        <div class="col-md-2">
          &nbsp;
        </div>
        <div class="col-md-4 text-left">
          <a href="/">#python </a>
        </div>
        <div class="col-md-4 text-right">
          <a class="github-button" href="https://github.com/pythononwheels/pow_devel" aria-label="pythononwheels on GitHub">Github PythonOnWheels</a>
        </div>
      </div>
    
        <div class="row">
          <div class="col-md-3">
              <div class="justify-content-center align-items-center">
                <a href="https://www.pythononwheels.org"><img src={{ static_url("images/pow_on_dash.png") }}  style="margin-left: 60px; height:100px;"/></a>
                <div class="justify-content-center" style="margin-bottom: 10px; margin-top: 10px;"><h3>Dash embedded in PythonOnWheels</h3></div>
          </div>
          
          <div class="col-md-9">
            
              <div id="react-entry-point">
                <span class="_dash-loading">
                    Loading... Dash components
                </span>
            
            </div>
            
              <!-- this is the place where the dash HTML is rendered untouched (raw) -->
              <!-- the layout is defined in views/pow_dash.py-->
              {% raw dash_block %}
              <!-- End dash-->
          </div>
        </div>
    </div>

      


  {% include "footer.bs4" %}
  

    
  </script>
  </body>
</html>