{% extends "base.tmpl" %}

{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">This is the <strong>{{handler_name}}</strong> show view </h1>
                <p class="lead">See your data below:</p>
            </div>
        </div>
        <table class="table table-bordered">
            {% set elem = data[0] %}
            {% for key in model.schema.keys() %}
            <tr>
                <td><b>{{key}} :</b></td>
                <td> {{getattr(elem,key,None) }}</td>
            </tr>
            {% end %}
        </table>
        <hr>
        
        <a href="/{{base_route_rest}}" class="btn btn-secondary">Back to {{handler_name}}.list</a>
        
        <hr>
        <h2>Raw: </h2>
        {{data}}
    </div>
{% end %}