/*-------------------------------------------------------

author: gorotron (www.gorotron.com)
version: 1.0
license: Commons Attribution 3.0 United States License

http://creativecommons.org/licenses/by/3.0/us/

Do whatever you like with this template– just be
sure to leave my link at the bottom of each page.

Thanks!

-------------------------------------------------------*/

@import "dropdown.css";

* {
    margin:0;
    padding:0;
}

html {
    text-align:center;
    background:#F3F3F3;
}

body {
    font:62.5% Verdana, Arial, Helvetica;
    text-align:left;
    color:#333;
    width:75em;
    margin:2em auto;
    background:#FFF;
    padding:1.3em;
    background:#FFF url(/static/media/body_bg.gif) bottom repeat-x;
    border:0.1em solid #EAEAEA;
}

p {
    font-size:1.2em;
    line-height:1.5em;
    margin:1em 0;
}

a {
    color:#004D85;
    text-decoration:none;
}

p a, td a, th a {
    background:url(/static/media/link_underline.gif) bottom repeat-x;
    padding-bottom:0.1em;
}

ul {
    list-style:none;
}

#masthead {
    width:100%;
    height:14em;
    position:relative;
    margin-bottom:0.3em;
    background:url(/static/media/masthead_bg_black.gif) repeat-x;
    line-height:14em;
}

#masthead h1 {
    font-size:2.4em; 
    font-family:"Georgia serif";
    font-style: normal;
    margin-left:1em;
    color:#FFF;
}

#masthead h1 a {
    color:#EEE;
}

#masthead sup {
    font-size:0.5em;
}

#mastheadBox {
    background:url(/static/media/masthead_box.gif) left center no-repeat;
    z-index:11;
    position:absolute;
    height:8em;
    top:50%;
    margin-top:-5em;
    right:2em;
    width:43.5em;
    padding:1em 1em 1em 3.5em;
}

#mastheadBox h2 {
    line-height:1em;
    color:#F60;
    font-size:1.2em;
}

#mastheadBox p {
    padding:1em 0 0;
    margin:0;
}

#breadCrumbs {
    clear:both;
    padding:0.5em 2em;
    margin-top:0.3em;
    background:#EAEAEA url(/static/media/breadcrumbs_bg_black.gif);
}

#breadCrumbs li {
    display:inline;
}

#breadCrumbs li a {
    margin-right:0.5em;
    padding-right:1em;
    background:url(/static/media/breadcrumbs_bullet.gif) right 0.7em no-repeat;
}

#breadCrumbs li a:hover, #footer li a:hover {
    text-decoration:underline;
}

/* Main Column */

#mainContent {
    width:53em;
    padding:2em 0 2em 2em;
    float:left;
}

#mainContent h2 {
    color:#F60;
    font-size:1.5em;
}

#mainContent p + h2 {
    margin-top:1.5em;
}

#mainContent h3 {
    font-size:1.25em;
}

#mainContent blockquote {
    padding:0 2em;
    font-style:italic;
    font-size:0.9em;
    color:#444;
    border-left:4px solid #F90;
}

#mainContent ul {
    color:#F90;
}

#mainContent li {
    background:url(/static/media/li_bullet.gif) left center no-repeat;
    font-size:1.2em;
    padding-left:1em;
    margin:0 0 0.5em 1em;
    color:#333;
}

#suckerfish {
    width:100%;
    height:10em;
    font-family:monaco, courier;
}

/* Main Column Table */

#mainContent table {
    margin-top:1.5em;
    font:1.1em Verdana, Arial, Helvetica, sans-serif;
    
}

#mainContent thead th {
    background:#EAEAEA;
}

#mainContent td {
    padding:0.5em;
    background:#F4F4F4;
}

#mainContent td:hover {
    background:#EAEAEA;
}

#mainContent th {
    padding:0.5em;
    background:#F4F4F4;
    color:#004D85;
}

#mainContent th strong {
    color:#F60;
}

/* Form */

fieldset {
    padding:1em 1em 0.5em;
    border:1px solid #EAEAEA;
    margin-top:2em;
    background:#F7F7F7;
}

label {
    display:block;
    padding-bottom:0.5em;
    font-weight:bold;
}

input, textarea {
    border:1px solid #CCC;
    padding:0.25em;
    width:20em;
}

textarea {
    width:28em;
    height:5em;
    font:1.2em Verdana, Arial, Helvetica, sans-serif;
}

input:hover, input:focus, textarea:hover, textarea:focus {
    border-color:#999;
}

#submit {
    color:#FFF;
    font-size:1em;
    font-weight:bold;
    width:auto;
    background:#F90 url(/static/media/nav_bg.gif) bottom repeat-x;
}

input#submit:hover {
    border-color:#F60;
}

/* Side Column */

#secondaryContent {
    width:16em;
    padding:2em;
    float:right;
}

#secondaryContent h2, #secondaryContent p {
    font-size:1.2em;
}

#secondaryContent h2 {
    color:#F60;
}

.secondaryContentBox {
    border:1px solid #EAEAEA;
    background:#F7F7F7;
    padding:1em 1em 0.5em;
    margin-bottom:2em;
}

.secondaryContentBox span {
    color:#F60;
    font-weight:bold;
}

#secondaryContent blockquote {
    font-style:italic;
    font-size:0.9em;
    padding:0.5em 0 0 2em;
    background:url(/static/media/left_quote.gif) no-repeat;
}

#secondaryContent blockquote p {
    background:url(/static/media/right_quote.gif) right bottom no-repeat;
    padding-bottom:1em;
}

#secondaryContent blockquote span {
    margin-left:2em;
}

#secondaryContent .source {
    text-align:right;
    margin:-0.5em 0 2em;
    font-size:1em;
}

#footer {
    text-align:center;
    clear:both;
    padding:1em 0 0;
    background:url(/static/media/footer_hr.gif) repeat-x;
}

#footer li {
    display:inline;
    margin:0.5em;
}