body {
    background: none repeat scroll 0 0 #F9F9F9;
    color: #444444;
    font: 70%/150% verdana,geneva,sans-serif;
    margin: 0;
    padding: 0;
}
body blockquote {
    padding-left: 0.5em;
}
body code, body pre {
    font: bold 1em/150% consolas,"courier new",courier,monospace;
}
body div#start {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 3px solid #F1F1F1;
    border-right: 3px solid #F1F1F1;
    color: #444444;
    margin: 0 auto;
    padding: 1em 2em;
    width: 50em;
}
body div#start div#footer {
    margin: 3em auto 1em;
    text-align: center;
}
body div#start div#footer p {
    background: none repeat scroll 0 0 #FFFFDD;
    color: #666666;
    display: inline;
    padding: 0.2em 0.5em;
}
body div#start div#footer div {
    margin: 2em 0 4em;
}
body div#start div#header {
    margin: 0 auto;
    text-align: center;
}
body div#start div#header div.readme-version {
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0 0 0.5em;
    text-transform: uppercase;
}
body h1 {
    font-size: 3.2em;
    line-height: 105%;
}
body h1 a {
    color: #000000;
    text-decoration: none;
}
body h1, body h2, body h3 {
    font-family: garamond,georgia,times,serif;
    font-weight: 400;
}
body h2 {
    font-size: 2em;
    margin-top: 3em;
}
body h3 {
    font-size: 1.6em;
    margin-top: 2em;
}
body div#fb-root {
    border-top: 1px solid #AAAAAA;
    height: 25px;
    margin: 20px auto;
    padding-top: 3px;
    text-align: center;
}
body ol li ol li, body ol li#features ol li ol li {
    list-style: decimal outside none;
}
body ol li#bookmarklets p {
    margin-top: 2em;
}
body ol li#license blockquote a {
    color: #222222;
    text-decoration: none;
}
body ol li#license blockquote strong {
    font-size: 0.9em;
    font-weight: 400;
    text-transform: uppercase;
}
body ol#toc li {
    list-style: none outside none;
}
body ol#toc li ol li {
    list-style: upper-roman outside none;
}
body ol li, body ol#menu li ol li {
    list-style: upper-roman outside none;
}
body ol ul li {
    list-style: square outside none;
}
body ol ol.legal li {
    list-style-type: decimal;
}
body ol ol.legal ul.subterms li {
    list-style-type: lower-alpha;
}
body pre span, body span.bold {
    font-weight: 700;
}
body li a.bookmarklet, body li a.bookmarklet:link {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #0000EE;
    color: #0000EE;
    padding: 2px 3px;
    text-decoration: none;
}
body img, body a img, body a:link img {
    border: medium none;
}
body li.theme {
    clear: both;
    float: left;
    margin-bottom: 40px;
    width: 100%;
}
body li.theme div.thumbnail {
    float: left;
    margin-right: 20px;
    width: 150px;
}
body li.theme div.thumbnail img {
    border: 1px solid #AAAAAA;
}
body a.download {
    background: url("../icons/package_go.png") no-repeat scroll left bottom #FFFFFF;
    display: block;
    line-height: 16px;
    margin-bottom: 10px;
    padding-left: 20px;
}
body li.theme a.download {
    float: left;
}
body a.readme {
    background: url("../icons/page_white_go.png") no-repeat scroll left bottom #FFFFFF;
    display: block;
    float: left;
    line-height: 16px;
    padding-left: 20px;
}
body a.top {
    background: url("../icons/bullet_arrow_top.png") no-repeat scroll left bottom #FFFFFF;
    color: #666666;
    display: block;
    font-size: 90%;
    margin: 20px 0;
    padding-left: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
