<%inherit file="/complex_layout.tmpl"/>

<!--  This is complex_layout_sidebox.tmpl-->
    ${next.body()}
</div>
<!-- End of Main Column -->


<!-- Start Side Column -->
<div id="secondaryContent">
    
    <div class="secondaryContentBox">
    
        <h2>POW News</h2>
    
        <p>Pow Alpha 0.33 release up to come in September 2011. Mail: interest to:</p> 
        <p><span title="Email">e:</span> <a href="mailto:interestalpha02@pythononwheels.org">@send email</a></p>

    </div>

    <blockquote>
        <p>Easy to use. Simple to understand. Generative. Based on proven standard tools and frameworks. Shall offer the rails way to python users but
        beeing even a little more focused on simplicity. With respect to rails which started it all off, we are 'only' on 'wheels' but it feels like having wings ;) - just try it yourself.</p>
    </blockquote>
    
    <p class="source">- khz<br />PythonOnWheels</p>

</div>
<!--  End of  complex_layout_sidebox.tmpl-->

