<%!

    import sys,os 
    sys.path.append(os.path.abspath(os.path.join( os.path.dirname(os.path.abspath("./")), "../../lib" )) )
    import powlib
    
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="/static/stylesheets/simple_blog.css" media="screen"/>
<style type="text/css"> 
@import url("/static/stylesheets/cssform.css") all;
</style>
<script language="JavaScript" type="text/javascript" src="/static/scripts/cssform.js"></script>
<title>PythonOnWheels</title>

</head>

<body>

<div class="outer-container">

<div class="inner-container">

    <div class="header">
        
        <div class="title">

            <span class="pow_sitename"><a href="/post/list">PythonOnWheels</a></span>
            <div class="slogan">The simple and easy to use web generator framework for python</div>

        </div>
        
    </div>

    <div class="path">
            
            <a href="/post/list">Home</a> &#8250; <!--a href="index.html">Subpage</a> --> 

    </div>

    <div class="main">        
        
        <div class="content">

            ${next.body()}
        

        </div>

        <div class="navigation">

            <h2>Actions</h2>
            <ul>
                <li><a href="http://localhost:8080/post/create">Create Blog post</a></li>
        
                
            </ul>

            

            

        </div>

        <div class="clearer">&nbsp;</div>

    </div>

    <div class="footer">

        <span class="left">
            2011 / <a href="http://www.pythononwheels.org">pythononwheels.org</a>
        </span>

        <span class="right"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></span>

        <div class="clearer"></div>

    </div>

</div>

</div>

</body>

</html>