<div class="alert alert-success">
	<button class="close" data-dismiss="alert">x</button>
	Yep, record successfully created.
</div>
<p>
    <i class="icon-fast-backward"></i>&nbsp;<a href="/${model.modelname}/list">Back to the list</a>
</p>