You see the List Template<br>
<a href="./create">Create</a> a new ${model.getName()}.
<br>
<table class="table">
	<thead>
		<tr>
			%for colname in model.getColumns():
				%if colname not in hidden_list:	
					<th>${colname}</th>
				%endif
			%endfor
		</tr>
	</thead>
	<tbody>
		% for elem in list:
			<tr>
				%for colname in elem.getColumns():
					%if colname != "created" and colname != "last_updated" and colname != "id" and colname != "password":	
						<td>${elem.get(colname)}</td>
					%endif
				%endfor
				<td><a href="./edit?id=${elem.get("id")}">edit</a></td>
				<td><a href="./show?id=${elem.get("id")}">show</a></td>
				<td><a href="./delete?id=${elem.get("id")}">delete</a></td>
				<td><a href="./create">create</a></td>
			</tr>
				
		%endfor
	</tbody>
</table>
