<h2>show  ${model.__table__} Form:</h2>

  <fieldset>
    <table class="table">
	<thead>
		<tr>
			<th>Attribute Name</th>
			<th>Attribute Value</th>
		</tr>
	</thead>
		%for colname in model.getColumns():
			<tr>
				<td>${colname}</td>
				<td>${model.get(colname)}</td>
				<td><a href="./edit?id=${model.get("id")}">edit</a></td>
				<td><a href="./show?id=${model.get("id")}">show</a></td>
				<td><a href="./delete?id=${model.get("id")}">delete</a></td>
			</tr>
		%endfor
	</table>
    <p>
      <a href="/${model._name}/list">Back to the list</a>
    </p>
  </form>
  </fieldset>