<h2>show  ${model.__table__} Form:</h2>

  <fieldset>
    <table class="table">
	<thead>
		<tr>
			<th>Attribute Name</th>
			<th>Attribute Value</th>
		</tr>
	</thead>
		%for colname in model.getColumns():
			<tr>
				<td>${colname}</td>
				<td>${model.get(colname)}</td>
				<td><i class="icon-edit"></i><a href="./edit?id=${model.get("id")}">edit</a></td>
				<td><i class="icon-eye-open"></i><a href="./show?id=${model.get("id")}">show</a></td>
				<td><i class="icon-remove"></i><a href="./delete?id=${model.get("id")}">delete</a></td>
			</tr>
		%endfor
	</table>
  </form>
  </fieldset>
  <p>
    <i class="icon-fast-backward"></i>&nbsp;<a href="/${model.modelname}/list">Back to the list</a>
  </p>