<%!

	import sys,os 
	sys.path.append(os.path.abspath(os.path.join( os.path.dirname(os.path.abspath("./")), "../../lib" )) )
	import powlib
	
%>

<%def name="generate_actions()">
    actlist = ["list", "edit", "create", "show"]
</%def>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <!-- <link href="/static/css/bs/bootstrap.css" rel="stylesheet"> -->
    <link href="/static/css/bs/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/css/bs/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/bs/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/bs/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/bs/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/bs/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/bs/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">${powdict["POW_APP_NAME"]}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to PythonOnWheels</h1>
        <h2>and the world of Rapid Web Development!</h2>
        
        <p><a class="btn btn-warning btn-large pull-right">Learn more &raquo;</a></p>
      
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>What</h2>
			If you want start to develop your web-application and focus on the App, instead of spending weeks to learn the frameworks, 
			you are in the right place.</p>
			<p>PythonOnWheels feels right if you do not recognize that you use it.</p>
			<p>I like to thank the brilliant ideas and implementations of <a href="http://rubyonrails.org/"> ruby on rails</a>. Patterns and theory were there, but, but rails really brought it to life. I like to keep it simple, though ;) </p>
        </div>
        <div class="span4">
          <h2>How</h2>
            <p>PythonOnWheels doesn't reinvent the wheel but is based on the brilliant frameworks out there. Namely:
			<ul>
                <li><a href="http://www.sqlalchemy.org">SQLAlchemy</a> for Database abstraction, </li>
                <li><a href="http://www.makotemplates.org">Mako</a> as the Template engine </li>
                <li> <a href="http://beaker.groovie.org/">Beaker</a> for Session handling. </li>
                <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a> as base HTML/CSS Framework</li>
            </ul>
            </p>
			<p> So if you are building an app on PoW you rare relying on the Python standard libs out there. </p>
			<p> PoW just brings it all together in a way that you can focus on your app instead of focusing on the frameworks. </p>
       </div>
        <div class="span4">
          <h2>...next steps</h2>
          <ul>
            <li>generate Your first <code>model</code> and according DB-migration.</li>
            <li>generate Your first <code>controller</code> </li>
            <li>scaffold your views </li>
            <li>start <code>simple_server.py</code>go to <code>http://localhost:8080</code> and enjoy. </li>
          </ul>
          <br />
          <p><a class="btn" href="#">View Screencast &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Softwarekombinat 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bs/jquery.js"></script>
    <script src="/static/js/bs/bootstrap-transition.js"></script>
    <script src="/static/js/bs/bootstrap-alert.js"></script>
    <script src="/static/js/bs/bootstrap-modal.js"></script>
    <script src="/static/js/bs/bootstrap-dropdown.js"></script>
    <script src="/static/js/bs/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bs/bootstrap-tab.js"></script>
    <script src="/static/js/bs/bootstrap-tooltip.js"></script>
    <script src="/static/js/bs/bootstrap-popover.js"></script>
    <script src="/static/js/bs/bootstrap-button.js"></script>
    <script src="/static/js/bs/bootstrap-collapse.js"></script>
    <script src="/static/js/bs/bootstrap-carousel.js"></script>
    <script src="/static/js/bs/bootstrap-typeahead.js"></script>

  </body>
</html>
