<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Python on Wheels - the simple webapp generator framework for python - </title>
	<link rel="stylesheet" href="/static/css/pow_home_style.css" type="text/css" media="all" />
	<!--[if lte IE 6]><link rel="stylesheet" href="/static/css/pow_home_style_ie6.css" type="text/css" media="all" /><![endif]-->
	<!--[if IE]><style type="text/css" media="screen"> #navigation ul li a em { top:32px; } </style><![endif]-->
	
	<script src="/static/scripts/jquery-1.6.1.min.js" type="text/javascript"></script>
	<script src="/static/scripts/jquery.jcarousel.pack.js" type="text/javascript"></script>
	<script src="/static/scripts/jquery-func.js" type="text/javascript"></script>
</head>
<body>

<!-- Header -->
<div id="header">
	<div class="shell">
		
		<!-- Logo -->
		<!-- ><h1 id="logo"><a href="#">PythonOnWheels.org</a></h1> -->
		<h1>
			Welcome to<span> Python On Wheels</span>
			<!-- <small> Generate WebApps in minutes</small> -->

		</h1>
		<!-- End Logo -->
		
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li><a href="#">Home<span><em></em></span></a></li>
			    <li><a href="http://code.google.com/p/pythononwheels/">Download<span><em></em></span></a></li>
			    <li class="last"><a href="http://groups.google.com/group/pythononwheels">Contact<span><em></em></span></a></li>
			</ul>
		</div>
		<!-- End Navigation -->
		
	</div>
</div>
<!-- End Header -->

<!-- Slider -->
<div id="slider">
	<div class="shell">
		
		<!-- Slides -->
		<div class="slides">
			<ul>
				<!-- Slide -->
			    <li>
			    	<div class="slide-info">
				    	<h2><span>Generate WebApps </span> in minutes</h2>

						<p>Python on wheels (PoW) is the plain, simple, quick and easy to use WebApp generator framework for python. 
						If you want start to develop your web-application and focus on the App, instead of spending weeks to learn the frameworks, 
						you are in the right place.</p>
						<p>PythonOnWheels feels right if you do not recognize that you use it.</p>
						<p>I like to thank the brilliant ideas and implementations of <a href="http://rubyonrails.org/"> ruby on rails</a>. software patterns and theory were there, but, but rails really brought it to life. I like to keep it simple, though ;) </p>
					
			    	</div>
			    	<!-- span class="slide-image image1"></span> -->
						<span class="slide-image header"> News </span> 
						<span class="slide-image"> This is a test which is just testing anythong around slide-image and so on ...</span> 
			    </li>
			    <!-- End Slide -->
			    
			    <!-- Slide -->
			    <li>
			    	<div class="slide-info">
				    	<h2><span>Get</span> Set</h2>
				    		<p>Python on wheels doesn't reinvent the wheel but is based on the brilliant frameworks out there. Namely:
								<a href="http://www.sqlalchemy.org">SQLAlchemy</a> for Database abstraction, <a href="http://www.makotemplates.org">Mako</a> as the Template engine and <a href="http://beaker.groovie.org/">Beaker</a> for Session handling.</p>
								<p> So if you are building an app on PoW you rare relying on the Python standard libs out there. </p>
								<p> PoW just brings it all together in a way that you can focus on you r app instead of focusing on the frameworks. (how brilliant they might be. The focus is the WebApp! - not even PoW.) </p>
			    	</div>
			    	<!-- span class="slide-image image1"></span> -->
			    </li>
			    <!-- End Slide -->
			    
			    <!-- Slide -->
			    <li>
			    	<div class="slide-info">
				    	<h2><span>Go</span> !</h2>
				    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam arcu ligula, faucibus eu imperdiet eu, bibendum sit amet augue. Sed turpis sem, interdum sit amet egestas a, mattis non libero. Suspendisse tristique nisi sed justo accumsan vel mattis nulla fermentum. Etiam varius est id mi fermentum aliquam.</p>
				    	<p>Quisque quis vestibulum turpis. Sed venenatis ipsum laoreet elit pulvinar vitae pharetra massa dignissim. Curabitur ligula sapien, auctor ut porttitor a, ultricies lobortis dui. Suspendisse lacinia tellus a diam rutrum rhoncus. </p>
			    	</div>
			    	<!-- span class="slide-image image1"></span> -->
			    </li>
				<!-- End Slide -->
			    
		    </ul>
		
		</div>
		<!-- End Slides -->
		
	</div>
</div>
<!-- End Slider -->

<!-- Slider Nav -->
<div id="slider-navigation">
	<div class="shell">
		<ul>
		    <li><a href="#" class="active">Overview<strong><ENTERPRISE>On your Mark<x></strong><em class="ico1"></em></a></li>
		    <li><a href="#">Download & Configure<strong>Get Set</strong><em class="ico2"></em></a></li>
		    <li class="last"><a href="#">Your 1st webapp<strong>Go !</strong><em class="ico3"></em></a></li>
		</ul>
	</div>
</div>
<!-- End Slider Nav -->

<!-- Main -->
<div id="main">
	<div class="shell">
		
		<!-- Cols -->
		<div class="cols">
			<div class="cl">&nbsp;</div>
			
			<!-- Col -->
			<div class="col">
				<h3>What it's about</h3>
				<p>with python on wheels you can literally create your webapps in minutes not hours. We use the generative approach to give your app a working skeleton which you then can fine tune step by step.   <br /><a href="#" class="more">read more</a></p>
				<p>The focus is to keep you focused on your app and assisting you develop it, as much as possible. </p>
			</div>
			<!-- End Col -->
			
			<!-- Col -->
			<div class="col">
				<h3>Start it of</h3>
				<p>Simply download and unzip pythononwheels somewhere on your system and follow the installation instructions. Assumed duration approx 2 Minutes (if you already have python > 2.5 installed). <br /><a href="#" class="more">read more</a></p>
				
			</div>
			<!-- End Col -->
			
			<!-- Col -->
			<div class="col col-last">
				<h3>Generate your first App</h3>
				<p>Eeeeaaasy as it should be ;)<br />
				    <code>1. generate_app -n appname</code><br />
				    <code>2. generate_model -n modelname</code><br />
				    <code>3. generate_migration -m modelname</code><br />
				    <code>4. generate_controller -m modelname</code><br />
				    <code>5. generate_scaffold -m modelname</code><br />
				    <code>6. simple_server</code><br />
				    Enjoy ! with browser at: http://localhost:8080<br />
				    <br /><a href="#" class="more">read more</a>
				</p>
				
			</div>
			<!-- End Col -->
			
			<div class="cl">&nbsp;</div>
		</div>
		<!-- End Cols -->
		
	</div>
</div>
<!-- End Main -->

<!-- Footer -->
<div id="footer">
	<div class="shell">
		
		<!-- Footer Logo -->
		<!-- <a href="#" class="notext footer-logo">Company Name</a> -->
		<a href="#">pythononwheels.org</a>
		<!-- End Footer -->
		
		<!-- Footer Nav -->
		<div class="right">
			<p>&copy; pythononwheels.org 
				Design by <a href="http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a></p>
		</div>
		<!-- End Footer Nav -->
		
	</div>
</div>
<!-- End Footer -->
	
</body>
</html>